<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Css link -->
    <link rel="stylesheet" href="/style.css">
    <title>Inventory Management</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Inventory Management</a>
        </div>
        <div class="action">
            <div class="profile" onclick="menu();">
                <img src="/images/user.png" alt="">
            </div>
            <div class="menu">
                <h3><b><%=userName %></b></h3>
                <ul>
                  <li><a href="/<%=userName %>/profile">My Profile</a></li>
                  <li><a href="/<%=userName %>/update-profile">Update Profile</a></li>
                  <li><a href="/<%=userName %>/create-collection">Create Collection</a></li>
                  <li><a href="/<%=userName %>/Create-product">Create Product</a></li>
                  <li><a href="/<%=userName %>/Collection">Collections</a></li>
                  <li><a href="/Logout">Logout</a></li>
                </ul>
            </div>
        </div>
      </nav>
      <h1 id="heading">Collections</h1>
      
      <!-- Collections -->
  <% if(Items.length === 0){ %>
      <h3>No collections to Show</h3>
  <% } %>

 <div class="row ">
   <% Items.forEach(Element =>{ %>
    <div class="col-lg-3 col-md-4 col-sm-6 main">
        <div class="card">
        <img src="<%= Element.url %>" class="card-img-top">
        <div class="card-body">
          <h1 class="card-title"><%= Element.name %></h1>
          <a href="/<%=userName %>/<%= Element.name %>/delete" class="btn btn-primary">Delete</a>
          <a href="/<%=userName %>/<%= Element.name %>/update-collection" class="btn btn-primary">Update</a>
          <a href="/<%=userName %>/<%= Element.name %>/product" class="btn btn-primary">Show</a>
        </div>
      </div>
    </div>
  <% }); %>

</div>
 
</body>
<script>
    function menu(){
        const toogleMenu=document.querySelector('.menu')
        toogleMenu.classList.toggle('active')
    }
</script>
</html>


<!-- https://www.pngitem.com/pimgs/m/121-1213760_t-shirt-png-brand-png-transparent-png.png -->